$brandGreen: #bdd752;
$brandGray: #333;
$brandBlack: #000;
$brandOrange: #fdeb97;

body {
    font-family: Helvetica, Arial, sans-serif;
}

button, input[type=submit] {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid $brandGray;
}

select {
    border-radius: 0;
    border: 1px solid $brandGray;
}

@import "Application";
@import "ProductList";
@import "BasketSummary";